.rodape {
  background: #000;
}

.contatos {
  max-width: 1200px;
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 100px;
  padding: 120px 20px;
  margin: 0 auto;
  background: #0000;
  position: relative;
}

.contatos-texto {
  color: #ffff;
  font-size: 1.5rem;
  line-height: 1.2;
  margin-bottom: 80px;
}

.contatos li {
  color: #ffff;
  font-size: 1.5rem;
  line-height: 2;
}

.cont-items li {
padding: 0px 0px 0px 150px;
}

.diretos {
  color: #ffff;
}

@media (max-width: 800px) {
  .contatos {
    grid-template-columns: 1fr;
  }

  .cont-items li {
    padding: initial;
  }

  .contatos-texto {
    margin-bottom: 10px;
  }
}