.formacao {
  background: white;
  position: relative;
}

.div {
  max-width: 1200px;
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 100px;
  padding: 120px 20px;
  margin: 0 auto;
  background: #141414;
  position: relative;
}

.formacao::after {
  content: "";
  display: block;
  width: 128px;
  height: 128px;
  background: url("./img/detalhe.svg") no-repeat center;
  position: absolute;
  bottom: -60px;
  left: 20px;
}

.formacao .sub {
  color: #000000;
}

.formacao .resumo {
  color: #a3a3a3;
}

.formacao-back {
  box-sizing: border-box;
  width: 200px;
  height: 190px;
  background: #090909;

  padding: 20px;
  margin-bottom: 20px;
  border-radius: 4px;
  position: relative;
}

.formacao-back::before {
  content: "";
  display: inline-block;
  position: absolute;
  width: 4px;
  height: 20px;
  background: rgba(255, 255, 0, 0.98);
  left: -4px;
  bottom: 110px;
}

.formacao-titulo {
  color: #a3a3a3;
  font-weight: normal;
  font-size: 0.875rem;
  line-height: 2;
}

.formacao-texto {
  color: #a3a3a3;
  font-size: 1.125rem;
  line-height: 2;
}

.faculdade {
  color: #a3a3a3;
  font-size: 1.125rem;
  line-height: 10;
}

.cursos {
  margin-bottom: 60px;
  color: #8f8f8f;
}

.form-extra h3 {
  font-size: 0.875rem;
  line-height: 1.4;
  color: #8f8f8f;
  text-transform: uppercase;
  margin-bottom: 30px;
  position: relative;
}

.form-extra h3::before {
  display: block;
  content: "";
  width: 24px;
  height: 24px;
  background: url("./img/cursos.svg") no-repeat center center;
  position: absolute;
  left: -40px;
  top: -4px;
}

.idiomas h3::before {
  background: url("./img/idiomas.svg") no-repeat center center;
  position: absolute;
  left: -40px;
  top: -4px;
}

.form-extra li {
  color: #fff;
  font-size: 1.275rem;
  line-height: 1.1;
  margin-bottom: 20px;
}

.form-extra span {
  color:#8f8f8f ;
}

.cursos li {
  display: flex;
  justify-content: space-between;
}

@media (max-width: 800px) {
  .formacao {
    grid-template-columns: 1fr;
    padding: 60px 20px;
    gap: 40px;
  }
  .formacao .sub {
    color: #ffff;
  }
  .formacao .resumo {
    font-size: 1rem;
    max-width: 35ch;
  }
  .form-extra h3::before {
    position: initial;
    margin-bottom: 10px;
  }
   .cursos li {
    display: block; 
  }
}
